body{
    margin: 0;
    background-image: url(imgs/wallpaperflare.com_wallpaper\ \(1\).jpg);
    overflow: hidden;
}
h1{
    color: brown;
    font-style: italic;
    font-weight: bold;
}
input[type="submit"] {
    font-size: .9em;
    color: #000000;
    background: #9a0f00;
    outline: none;
    border: 1px solid #451c00;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
  }
  input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #f73d3d;
  }
  .navbar , navbar-expand-lg{
    background-image: linear-gradient(rgb(57, 63, 113), rgb(216, 127, 139));}
    footer{
      position: absolute;
      display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(rgb(57, 63, 113), rgb(216, 127, 139));
      height: auto;
      width: 99vw;
      color: #fff;
      justify-content: space-evenly;
  }
  .footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }
  .footer-content h3{
      font-weight: 500;
      text-transform: capitalize;
      line-height: 3rem;
  }
  .icons_footer{
  display: flex;
  justify-content:space-around;
  }
  #icon:hover{
      filter: drop-shadow(1px 1px 1px #f00);
      transform: scale(150%)
    }